body {
    height: 100%;
    padding: 0;
    font-family: sans-serif;
}

#message-log {
    display: block;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
    margin: 0;
    padding: 0;
}

#message-log li {
    display: block;
    padding: 5px 10px;
}

#message-log .author {
    font-weight: bold;
}

#message-log .author:after {
    content: ": ";
}

#inputs {
    display: block;
    position: absolute;
    top: calc(100% - 50px);
    left: 0;
    width: 100%;
    height: 50px;
    margin: 0;
    background: #ddd;
    padding: 0;
}

#author, #message, #send {
    font-size: 12pt;
    border-radius: 10px;
    height: 30px;
    margin: 10px 2px;
    border: none;
    padding: 0 10px;
}

#author:focus, #message:focus, #send:focus {
    outline: none;
}

#author {
    width: 150px;
    margin-left: 10px;
}

#message {
    width: calc(100% - 290px);
}

#send {
    background: #36a;
    color: white;
    width: 60px;
    cursor: pointer;
}

#send:hover {
    background: #69d;
}

